@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  background-color: var(--body-bg-color);
  min-height: 100vh;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 78px;
  background-color: var(--green);
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 250px;
}

.sidebar .logo_content .logo {
  color: var(--text-color);
  display: flex;
  align-items: center;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo {
  padding: 17px;
}

.sidebar .btn_menu {
  position: absolute;
  left: 32%;
  top: 28px;
  cursor: pointer;
}
.sidebar.active .btn_menu {
  left: 85%;
}
.sidebar ul li {
  position: relative;
  list-style: none;
  font-size: 15px;
  margin-bottom: 5px;
}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: var(--light-grey);
  padding-left: 60px;
  font-size: 15px;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}
.sidebar ul li input::placeholder {
  color: var(--text-color);
}
.sidebar ul li .img_search {
  position: absolute;
  z-index: 99;
}
.sidebar ul li a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 15px;
  transition: all 0.4s ease;
  border-radius: 12px;
  height: 50px;
}
.sidebar ul li a:hover {
  background-color: var(--light-grey);
}
.sidebar ul li a img {
  margin-right: 20px;
}
.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}
.profile_content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--light-green);
}
.profile_content .profile {
  position: relative;
  height: 60px;
  padding-top: 8px;
}
.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}
.profile .profile_details img {
  margin-left: 13px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_details .name_job {
  margin-left: 10px;
  color: var(--text-color);
  line-height: 1;
}
.profile_details .name_job .name {
  font-size: 15px;
}
.profile_details .name_job .job {
  font-size: 12px;
  font-weight: 400;
}
.profile .log_out {
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  bottom: 18px;
  text-align: center;
}
.sidebar.active .profile .log_out {
  left: 88%;
}
.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}
.home_content h2 {
  font-size: 25px;
  color: var(--text-color);
  margin: 20px;
}
.sidebar.active ~ .home_content {
  width: calc(100% - 250px);
  left: 250px;
}
